.content {
    max-width: 100%;
    margin: auto;
  }

.row {
    display: flex;
}

.column-canvas {
    flex: 60%;
	padding: 5px;
}

.column-controls {
	flex: 20%;
}
.column-output {
	flex: 20%;
}

#canvas {
	height: 700px;
	width: 100%;
	border: 1px solid #000;
	object-fit: contain;
}

/* enable word wrap on all pre tags */
pre {
    white-space: pre-wrap;
}


