.content {
    max-width: 960px;
    margin: auto;
  }

.row {
    display: flex;
}

.column-left {
    flex: 70%;
}

.column-right {
	flex: 30%;
}

#canvas {
	height: 600px;
	width: 100%;
	border: 1px solid #000;
	object-fit: contain;
}
/* enable word wrap on all pre tags */
pre {
    white-space: pre-wrap;
}


